<div class="card" (mouseenter)="showCardButtons=true" (mouseleave)="showCardButtons=false">
  <div class="card__top">
    <div class="image__container">
      <img [src]='oneGame.image | imgPath' [alt]='oneGame.title'>
    </div>
    <div class="card__status--color"></div>
    <div class="status__container">
      <div class="status--text">{{oneGame.status}}</div>
    </div>
  </div>
  <div class="card__bottom">
    <div class="tag__container">
      <div class="tag tag--platform">{{oneGame.platform}}</div>
      <div class="tag tag--format">{{oneGame.format}}</div>
      <div class="tag tag--year">{{oneGame.releaseYear}}</div>
    </div>
    <div class="title">{{oneGame.title}}</div>
  </div>
  <app-card-buttons *ngIf="showCardButtons" class="card__buttons" (clicked)="onDeleteCard(oneGame)">
  </app-card-buttons>
</div>

<!-- <div *ngFor="let route of toolbarRoutes">
  <button mat-stroked-button
    class="toolbar-nav-button"
    (click)="routeTo(route.path)"
    (mouseenter)="route.showHoverable=true"
    (mouseleave)="route.showHoverable=false">

        {{route.displayName}}
  </button>

  <app-hoverable *ngIf="route.showHoverable" [component]="route.component"></app-hoverable>

</div> -->