<div class="container">

  <div class="row control__container mt-3">

    <div class="control__left">
      <button routerLink="/edit/0" class="button__add" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Add game to collection">
        <i class="fa fa-solid fa-plus"></i></button>
    </div>

    <div class="control__right">
      <ngb-pagination class="control__pagination" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="collectionSize" class="d-flex justify-content-end pe-2">
      </ngb-pagination>
    </div>
  </div>

  <div class="row" class="grid__games">
    <div *ngFor="let game of gameList$ | async | slice: (page-1) * pageSize : page * pageSize" class="cell__game">
      <app-card [oneGame]="game"></app-card>
    </div>
  </div>

  <div class="row">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"
      class="d-flex justify-content-end pe-4">
    </ngb-pagination>
  </div>

</div>


<!-- Táblázatos megjelenítés -->
<!-- <div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{col.title}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of gameList$ | async">
          <td *ngFor="let col of columns">
            {{row[col.key]}}
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-info"><i class="fa fa-edit"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->